html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 1em;
  line-height: 1.4em;
}

body {
  font-family: Andale Mono, monospace;
  background-image: url("files/flower.jpg");
  background-color: rgb(209, 227, 214); /* Fallback */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(145, 145, 145);
  min-height: 100vh; /* Ensure full coverage */
}

#container {
  border: 1px solid rgb(145,179,154);
  background: rgb(209,227,214);
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 25px;
}

figure a {
  color: seagreen;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: rgb(177, 205, 250);
}

a:hover {
  color: rgb(133, 171, 148);
}

header {
  font-family: Andale Mono, monospace;
}

footer {
  font-size: 0.8em;
}

.blue-text {
  color: #2980b9;
}
